<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgsdyIlDAsiFBSxuMZ_ONnVdg__6azmsk</string>
	<key>GCM_SENDER_ID</key>
	<string>361288387306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ninespartans.xmanager</string>
	<key>PROJECT_ID</key>
	<string>spartans-284709</string>
	<key>STORAGE_BUCKET</key>
	<string>spartans-284709.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361288387306:ios:1455adbeb13a4f852ee593</string>
</dict>
</plist>